
*{
    font-family: sans-serif;
}
ul li{
    color: aqua;
    background-color: darkgrey;
    text-align: left;
}
ol li{
    color:darkblue;
    text-align: left;
    background-color: darkgrey;
}
h1{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
    color:darkmagenta;
}
p{
    text-align: center;
    color:darkred;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
a img{
    width: 30px;
    height: 30px;
    margin-left: 0;
}